@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: chocolate;
}

h1 {
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 25px;
  font-size: 70px;
}

img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  /*seccion ingredients y time*/
}

.container {
  display: flex;
  font-size: 50px;
}

.ingredientes {
  flex: 0 0 70%; /* Ocupa el 70% del ancho del contenedor, 0 grow 0 shrink 70% basis*/
  background-color: chocolate;
  padding-top: 100px;
  padding-left: 20px;
  margin-left: 5%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.time {
  flex: 1; /* Ocupa el espacio restante del contenedor */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 70px;
  width: 100%;
  max-width: 300px;
  margin: auto; /* Center the container horizontally */
}

.ingredientes ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el padding por defecto */
  margin: 0; /* Elimina el margin por defecto */
}

.ingredientes li {
  flex: 1 1 50%; /* Ocupa el 50% del ancho del contenedor */
  box-sizing: border-box;
  padding: 20px 0 0 0;
}

@media (max-width: 800px) {
  .ingredientes li {
    flex: 1 1 100%; /* Una columna en pantallas pequeñas */
  }
}
/*TIME SECCTION*/
.timer {
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}

.clock-row, .hourglass-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.clock-row img, .hourglass-row img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.buttons button {
  padding: 10px;
  font-size: 1em; /* Increase font size */
  background-color: chocolate;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #e0e0e0;
}

.start-button {
  align-self: flex-end;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 35px;
  background-color: chocolate;
  cursor: pointer;
}

.start-button:hover {
  background-color: greenyellow;
}

@media (max-width: 800px) {
  .buttons {
    flex-direction: column;
    gap: 5px;
  }
  .buttons button {
    margin: 0;
  }
  .start-button {
    align-self: center;
    width: 100%;
  }
}
/*PREPARACION*/
h2 {
  font-size: 50px;
  margin-left: 5%;
  margin-top: 60px;
}

.preparation {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columna por defecto */
  gap: 120px; /* Espacio entre los elementos */
  padding-top: 50px;
  margin-left: 7%;
  margin-right: 7%;
}

.numbered-list-item {
  counter-increment: list-counter;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px; /* Espacio para el número */
  font-size: 50px;
}

.numbered-list-item::before {
  content: counter(list-counter) ".";
  position: absolute;
  right: 100%; /* Mueve el número completamente a la izquierda del contenedor */
  margin-right: 10px; /* Espacio adicional entre el número y el texto */
  font-weight: bold;
  background-color: chocolate;
  font-size: 50px;
}

hr {
  height: 5px; /* Altura de la línea (más gruesa) */
  background-color: black;
  margin-top: 150px;
}

/*footer*/
.footer {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.created {
  font-size: 35px;
  padding: 80px 80px 0 50px;
}

.icons img {
  width: 35px;
  height: 35px;
  padding: 80px 50px 50px 50px;
}

/*# sourceMappingURL=style.css.map */
